# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# Build output
dist/
build/

# Ignore uploads but keep the directory
src/uploads/*
!src/uploads/.gitkeep